/* General */

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 30px 0;
}


/*header */

header{
    background-image: url("../img/pattern.png");
    background-color: aqua;
    background-size: 330px;
}

#logo{
    height: 3rem;
    padding: 30px 25px 0 5px;
}

/* inizio main */

#scritto-da{
    color: grey;
}

#autore-articolo{
    color: blue;
}

#data-articolo{
    font-size: x-small;
    margin-top: 3px;
}


/* immagini Articolo */

h1{
    margin-bottom: 5px;
}

.immagini-tim{
    margin-top: 30px;
}

.didascalia{
    font-size: x-small;
}

/* paragrafi */

.evidenziato{
    background-color: yellow;
}

/* tabella */

ul{
    padding-left: 15px;
}

table{
    border-spacing: 0px;
    text-align: left;
    

}

thead{
    background-color: aqua;
}

.un-quarto{
    width: 25%;
}

.due.quarti{
    width: 50%;
}

.riga-evidenziata{
    background-color: aquamarine;
}